.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul.nav {
  white-space: nowrap;
  overflow-x: auto;
}

ul.nav li {
  display: inline-block;
  float: none;
}
